<%= form_for(@reading_content) do |f| %>
  <% if @reading_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_content.errors.count, "error") %> prohibited this reading_content from being saved:</h2>

      <ul>
      <% @reading_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
