<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



	<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
         <script src="pusher.js"></script> 
  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well">
				<h2>
					Do you want to <strong>JustReadIt</strong>?
				</h2>
				<br>
				<p>
					Just paste your link, and i will read it to you! Click on <strong>ReadIt!</strong> button to start!
				</p>

					

			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<%=form_tag("/getUrl", method: "post",remote:true) do %>
				<div class="form-group">
					 
					<%= text_field_tag "url",nil,placeholder: "Enter url here!", class: "form-control",type:"url", required:"true" %>
				</div>
				      <%= submit_tag "ReadIt!", class: "btn btn-default btn-primary center-block" %>  
			<%end%>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<div class="container-fluid">
        <div class="row">
                <div id="text_container" class="col-md-12">
                </div>
        </div>
</div>


  </body>
</html>
